extends layout

block content
    h1= title
    
    p Results: #{count}
    table.table
      tr
        != createOrdering()
      each bi in bookinstance_list
        tr
          td
            a(href=bi.url) #{bi.book.title}
          td #{bi.imprint}
          if bi.status=='Available'
            td.text-success #{bi.status}
          else if bi.status=='Maintenance'
            td.text-danger #{bi.status}
          else
            td.text-danger Maintenance
          td #{bi.due_back_formatted}

    if (pages > 1)
    .container
      .pagination
        != createPagination(pages, page)