extends layout

block content

  h1 Country: #{country.name}
  div(style='margin-left:20px;margin-top:20px')

    h4 Countries
    
    ul
      each author in country_authors
        li
          a(href=author.url) #{author.name} 
      else
        p This country has no authors.
  hr
  p
    a(href=country.url+'/delete') Delete country
  p
    a(href=country.url+'/update') Update country
