extends layout

block content
    h1= title
    
    p Results: #{count}
    table.table
      tr
        != createOrdering()
      each country in country_list
        tr
          td
            a(href=country.url) #{country.name} 
          td #{country.continent}

    if (pages > 1)
    .container
      .pagination
        != createPagination(pages, page)
